<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>SubTranslate</display-name>
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>com.servlets.Index</servlet-class>
		<multipart-config>
			<location>D:/eclipse-workspace/SubTranslate/WebContent/WEB-INF/tmp/</location> 
			<max-file-size>10485760</max-file-size> <!-- 10 Mo -->
			<max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
			<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditSubtitle</servlet-name>
		<servlet-class>com.servlets.EditSubtitle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditSubtitle</servlet-name>
		<url-pattern>/editSubtitle</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DownloadSRT</servlet-name>
		<servlet-class>com.servlets.DownloadSRT</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadSRT</servlet-name>
		<url-pattern>/downloadSRT</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglib.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
</web-app>